
/*
  body{
    font-size:300%;
  }
  .result{
    font-size:400% 4em
  }
  input{
    transform: scale(3);
    margin-left: 3em;
    margin-right: 3em;
  }
    input[type=text]{
        width: 1em;
        margin-bottom: 2em;
    }
  body {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
  }
*/

header{
    text-align: center;
/*    border-bottom: 1px solid gray;*/
    padding-bottom: 10px;
}

/*
section.main{
    height: auto;
    min-height: 100%;
    padding-bottom: 300px;
}
*/

footer{
    color:gray;
    text-align:center;
/*    border-top: 1px solid gray;*/
    padding-top: 20px;

/*
    position: absolute;
    bottom: 0;
*/


/*
    height: 300px;
    position: relative;
    transform: translateY(-100%);
*/
}

div{
    margin:10px;
}

body{
    background-color: black;
    color: white;
}


a {
    color: powderblue;
}

