
/*
  body{
    font-size:300%;
  }
  .result{
    font-size:400% 4em
  }
  input{
    transform: scale(3);
    margin-left: 3em;
    margin-right: 3em;
  }
    input[type=text]{
        width: 1em;
        margin-bottom: 2em;
    }
  body {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
  }
*/

header{
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

footer{
    color:grey;
    text-align:center;
    border-top: 1px solid grey;
    padding-top: 10px;
}

div{
    margin:10px;
}

body{
    background-color: black;
    color: white;
}


a {
    color: powderblue;
}

