@media all and (max-width:1024px){
  body{
    font-size:1.5rem; /*3em*/
  }

}

body{
	background-color:powderblue;
}

td{
	background-color:white;
    border: solid 1px black;
    padding: 5px;
    margin: 0;
    height: 1em;
    width: 10em;

}

.rsv{
    background-color:khaki;
}

.half_rsv{
    background-image: repeating-linear-gradient(45deg, khaki, khaki 10px, lightgray 10px, lightgray 20px);
}


/* The Modal (background) */
.rsv_info {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}